<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
<head>

<!-- Define a div and style for the main heading -->
<div style="border:black;background-color:black;text-align:center;">
	<br> <!-- Create a line break for aesthetic purposes -->
	
	<!-- Define a heading and style for the main heading -->
	<h1 style="color:orange;">Browse Recipes</h1>
	
	<br> <!-- Create a line break for aesthetic purposes -->
</div>

<!-- Define the body and style to contain the recipes -->
<body>
	<br> <!-- Create a line break for aesthetic purposes -->
	<br> <!-- Create a line break for aesthetic purposes -->
	<br> <!-- Create a line break for aesthetic purposes -->
	<br> <!-- Create a line break for aesthetic purposes -->
	<br> <!-- Create a line break for aesthetic purposes -->
	
	<!-- List the existing recipes. Hyperlink the recipe name to a separate page showing the recipe information. -->
	<ul>
		{% for item in recipes %}
			<li> <a href="{{ recipes.get_absolute_url }}">{{ item.recipe_name }}</a> 
			<br>({{item.author}})
			</li>
		{% empty %}
			<p>There are no existing recipes.</p>
		{% endfor %}
	</ul>
	
	<br> <!-- Create a line break for aesthetic purposes -->
	<br> <!-- Create a line break for aesthetic purposes -->
	<br> <!-- Create a line break for aesthetic purposes -->
	<br> <!-- Create a line break for aesthetic purposes -->
	<br> <!-- Create a line break for aesthetic purposes -->
	
	<!-- Hyperlink back to the home page -->
	<li><a href="{% url 'home' %}">Home</a></li>
	
<body>





</html>