<h1>Search Result</h1>

<ul>
	{% for result in queryset %}
		<li>
			Recipe Name:{{ result.recipe_name }}<br>
			Author Name:{{ result.author}}<br>
			Ingredients:{{result.ingredients}}<br>
			Utensils	:{{result.utensils}}<br>
			Prep_directions:{{result.prep_directions}}<br>
			Prep_time_min:{{result.prep_time_min}}<br>
			Cook_time_min:{{result.cook_time_min}}<br>
			cook_setting:{{result.cook_setting}}<br>
			Calories:	{{result.calories}}<br>
			Rating:		{{result.rating}}<br>
			Image:		{{result.image}}
		</li>
	{% endfor %}
</ul>

		